{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center m-2">Welcome to tweet</h1>

    

    {% comment %} <div class='row m-5'>
        <div class='col-md-4 mx-auto col-10'>
            <form class='form' id="tweet-form" method="POST" action='/create-tweet'>
                {% csrf_token %}
                <input type='hidden' value="/" name='next'>
                <textarea required class="form-control" name='content' placeholder="Tweet"></textarea>
                <button class="btn btn-primary" type='submit'>Submit</button>
            </form>
        </div>
    </div> {% endcomment %}

    <div id='tweet-container'></div>
    <div  id="root" data-username="{{profile_username}}" data-can-tweet="false"></div>


<script>
    const tweetCreateForm = document.getElementById("tweet-form");
    tweetCreateForm.onsubmit = (event) => {
        event.preventDefault();
        const form = event.target;
        const data = new FormData(form)
        const method = form.getAttribute("method")
        const endpoint = form.getAttribute("action")
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.open(method , endpoint)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH" , "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With" , "XMLHttpRequest")
        xhr.onload = () => {
            if(xhr.status === 201) {
                let newTweet = xhr.response
                newTweet = JSON.parse(newTweet)
                console.log(newTweet)
                const newEl = formatTweet(newTweet)
                const og = tweetsContainer.innerHTML
                tweetsContainer.innerHTML = newEl + og
            } else if (xhr.status === 403) {
                alert("You must Login")
            }
        }
        xhr.onerror = () => {
            alert("error in server");
        }
        xhr.send(data)

    }
    const handleDidLike = (id , currCount , content , action) => {
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken')
        xhr.open("POST" , "/tweet/action")
        xhr.setRequestHeader("Content-Type" , "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH" , "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With" , "XMLHttpRequest") 
        xhr.setRequestHeader("X-CSRFToken" , csrftoken)
        const data = JSON.stringify({
            id : id,
            action : action,
            content : content
        })
        xhr.onload = () => {
            console.log(xhr.response)
            loadTweets(tweetsContainer);
        }  
        xhr.send(data)
    }
    // const handleDidLike = (id , curr) => {
    //     var csrftoken = getCookie('csrftoken')
    //     fetch('/tweet/action' , {
    //         "method" : "POST",
    //         headers: {
    //             "Content-Type" : "application/json",
    //             "HTTP_X_REQUESTED_WITH" : "XMLHttpRequest",
    //             "X-Requested-With" : "XMLHttpRequest",
    //             "X-CSRFToken" : csrftoken
    //         },
    //         body : JSON.stringify({
    //             id : id,
    //             action : "like"
    //         })
    //     }).then(res => res.json()).then(res => console.log(res))
    // }
    const tweetsContainer = document.getElementById("tweets");
    const loadTweets = (tweetsContainer) => {
        fetch('/tweets').then(response => response.json()).then(r => {
        tweetsContainer.innerHTML = "";
        r.map(tweet => tweetsContainer.innerHTML += formatTweet(tweet))
        });
    }
    loadTweets(tweetsContainer);
    const likeBtn = (tweet) => `<button class="btn btn-success ml-2" onclick="handleDidLike(${tweet.id} , ${tweet.likes} , '${tweet.content}' , 'like')">Like</button>`
    const unLikeBtn = (tweet) => `<button class="btn btn-danger ml-2" onclick="handleDidLike(${tweet.id} , ${tweet.likes} , '${tweet.content}' ,  'unlike')">Un Like</button>`
    const reTweetBtn = (tweet) => `<button class="btn btn-info m-2" onclick="handleDidLike(${tweet.id} , ${tweet.likes} , '${tweet.content}' , 'retweet')">Re Tweet</button>`
    const formatTweet = tweet => `<div style="display: inline-block;" class='rounded m-3 col-12 col-md-3 border bg-dark' id='tweet-${tweet.id}'><h3 class='text-danger'>Tweet ${tweet.id}</h3><p class='text-info m-3'>${tweet.content}<p class='text-success m-3'>likes : ${tweet.likes}<p></p>${likeBtn(tweet)}${unLikeBtn(tweet)}${reTweetBtn(tweet)}</div>`
    const tweetElement = document.getElementById('tweets');
    tweetElement.innerHTML = "loading..."

    const getCookie = (name) => {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    
</script>
{% endblock content %}